[submodule "faust/faust-things"]
	path = faust/faust-things
	url = https://github.com/jlp6k/faust-things
[submodule "scripts/sc-plugins-build-scripts"]
	path = scripts/sc-plugins-build-scripts
	url = https://github.com/madskjeldgaard/sc-plugins-build-scripts
